@keyframes float-up {
   0% {margin-top: 300px; opacity: 0%;}
   100% {margin-top: 0px; opacity: 100%;}
}

.ghost-image {
   align-self: center;
   animation-name: float-up;
   animation-duration: 3s;
   animation-timing-function: ease;
}

.signup-page {
   display: flex;
   height: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   background-color: #1e1e1e;
}

.signup-form-page {
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}



.signup-form-container {
   display: flex;
   flex-direction: row;
   box-sizing: border-box;
   height: 640px;
   width: 448px;
   border: 1px solid #5e5d5d;
   padding: 48px 40px 38px;
   border-radius: 8px;
   justify-content: flex-start;
   background-color: #373737;
   color:#979797;
}

.signup-bottom-details {
   display: flex;
   width: 100%;
   height: 56px;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
}

@media (min-width: 901px) {
   .signup-form-container {
      width: 750px;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease;
   }
}

.right-signup-container {
   display: flex;
}

@media (max-width: 901px) {

   .signup-form-container {
      width: 450px;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease;
   }

   .right-signup-container {
      display: none;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease;
   }
}

