.topbar {
   display: flex;
   position: fixed;
   width: calc(100% - 19px);
   height: 56px;
   background-color: #1e1e1e;
   z-index: 3;
   padding-right: 16px;
   padding-left: 16px;
   justify-content: space-between;
   overflow: hidden;
}

.home-button {
   padding: 10px 0px 0px 0px;
   display: flex;
   width: 160px;
   height: 100%;
   margin: 0;
   justify-content: center;
}

.home-button img {
   width: 150px;
   height: 40px;
   /* border: 1px solid rgb(101, 101, 101); */
   /* border-radius: 10px; */
   /* background-color: rgb(49, 49, 49); */
}

.left-masthead {
   display: flex;
   width: fit-content;
   justify-content: center;
   align-items: center;
   /* border: 1px solid black; */
   
}

.mid-masthead {
   /* border: 1px solid black; */
   width: 728px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.right-masthead {
   display: flex;
   justify-content: flex-end;
   width: 225px;
}

.search-bar-outer {
   display: flex;
   align-items: center;
   width: 100%;
   margin-left: 40px;
   height: 100%;
   /* border: 1px solid white; */
}

.microphone-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45px;
   height: 40px;
   border-radius: 50%;
   background-color: #2d2d2d;
}

.microphone-button:hover {
   background-color: #784307;
}

.search-button {
   /* display: flex; */
   /* justify-content: center;
   align-items: center; */
   position: relative;
   width: 64px;
   height: 40px;
   border: 1px solid #515050;
   border-bottom-right-radius: 40px;
   border-top-right-radius: 40px;
   z-index: 3;
   /* background-image: url('../../assets/booootube-mag-glass.png') ; */
}



.search-button > img {
   position: absolute;
   left: 20px;
   top: 11px;
   height: 20px;
   width: 20px;
   z-index: 2;
}

.search-bar-form {
   display: flex;
   align-items: center;
   width: 572px;
   height: 40px;
   padding-left: 10px;
   border-bottom-left-radius: 40px;
   border-top-left-radius: 40px;
   border-top: 1px solid;
   border-bottom: 1px solid;
   border-left: 1px solid;
   border-color:#515050;
}

.search-bar-input {
   all: unset;
   width: 100%;
   height: 26px;
   color: white;
}

.search-button-input {
   all: unset;
   width: 100%;
   height: 100%;
   position: relative;
}

.microphone-button > img {
   position: relative;
   width: 15px;
   height: 23px;
}



.side-modal-button {
   display: flex;
   /* width: 40px; */
   height: 40px;
   /* padding: 8px 8px 8px 0px; */
}

.side-modal-button img {
   width: 40px;
   height: 100%;
   background-color: transparent;
}