.video-index-page {
   display: flex;
   position: relative;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   background-color: #1e1e1e;
}

::-webkit-scrollbar {
   width: 19px;
}

::-webkit-scrollbar-thumb {
   background: rgb(112, 112, 112);
   border-radius: 10px;
   background-clip: content-box;
   border: 6px solid transparent;

}

::-webkit-scrollbar-thumb:hover {
   background: rgb(80, 80, 80);
   border-radius: 10px;
   background-clip: content-box;
   border: 6px solid transparent;
}