.video-display-side {
   display: flex;
   width: 70.5%;
   height: max-content;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   margin-left: 1.5rem;
   padding: 24px 24px 0px 0px; 
}