.user-dropdown-menu {
   box-sizing: border-box;
   position: absolute;
   height: 767px;
   width: 300px;
   right: 47px;
   top: 4px;
   border-radius: 11px;
   background-color:#403f3f;
   z-index: 5;
}

.user-dropdown-menu:hidden {
   visibility: hidden;
}

.dropdown-header {
   height: 83px;
   width: 300px;
}