.user-dropdown-menu {
   box-sizing: border-box;
   position: absolute;
   height: 18rem;
   width: 18.75rem;
   right: 2rem;
   top: 2.7rem;
   border-radius: 11px;
   background-color:#2f2e2e;
   z-index: 5;
   overflow: hidden;
}

.user-dropdown-menu:hidden {
   visibility: hidden;
}

.dropdown-header {
   display: flex;
   height: 105px;
   width: 100%;
   padding: 16px;
   border-bottom: 1px solid grey;
}

.dropdown-header-left {
   height: 100%;
   width: 20%;
}

.dropdown-pic-container {
   width: 2.6rem;
   height: 55%;
}

.dropdown-header-right {
   width: max-content;
   height: 100%;
}

.dropdown-name-container,
.dropdown-handle-container {
   display: flex;
   align-items: center;
   color: rgb(153, 153, 153);
   height: 1.375rem;
   width: max-content;
}

.dropdown-edit-account-button {
   display: flex;
   align-items: flex-end;
   font-size: .9rem;
   font-weight: 300;
   height: 38%;
   color: orange;
}

.dropdown-bottom {
   padding: 10px 0;
}

.dropdown-menu-button {
   display: flex;
   align-items: center;
   padding-left: 1rem;
   height: 2.5rem;
   color: rgb(153, 153, 153);
   font-size: .9rem;
}

.dropdown-menu-button:hover {
   background-color: rgb(63, 63, 63);
}

.dropdown-bottom > div:last-child {
   border-bottom: 1px solid grey;
}

#stepseq > *,
#rising-sign > * {
   width: max-content;
}

#stepseq,
#rising-sign {
   display: flex;
   gap: 1rem;
}