@media only screen and (max-width: 792px) {
   .sidebar {
      width: 0;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}

.sidebar {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100vw;
   background-color:#373737;
   z-index: 2;
   color: rgb(237, 134, 0);
}

@media only screen and (min-width: 793px) {
   .sidebar {
      width: 280px;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}