.upload-video-modal {
   display: flex;
   background-color: transparent;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
}

.upload-video-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 959px;
   height: 743px;
   border-radius: 8px;
   background-color: white;
   border: 1px solid black;
}