.upload-video-modal {
   display: flex;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.633);
   width: 100%;
   height: 100%;
   top: 0;
   justify-content: center;
   align-items: center;
   z-index: 4;
}

.upload-video-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 959px;
   height: 743px;
   border-radius: 8px;
   background-color: white;
   border: 1px solid black;
}

.outside-modal {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
}