.form-page {
   display: flex;
   height: 100%;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #1e1e1e;
   overflow: hidden;
}

.form-page input:is(:not([type=checkbox])) {
   all: unset;
   background-color: transparent;
   border-radius: 4px;
   border: 1px solid;
   z-index: 1;
   color: #D9DCE0;
   position: relative;
   width: 91.2%;
}

.form-page input[data-focus="unfocused"] {
   border-color: #D9DCE0;
}

.form-page input[data-focus="focused"] {
   border-color: var(--bootube-orange);
}

.form-portal {
   position: relative;
   display: flex;
   background-color: rgb(57, 57, 57);
   border-radius: 7px;
   padding: 48px 40px;
   border: 1px solid rgb(61, 61, 61);
   overflow: hidden;
}

.logo-container {
   position: relative;
   width: 100%;
   height: 40px;
}

.logo-container img {
   position: absolute;
   height: 100%;
   width: 75px;
}

.welcome {
   font-size: 1.5rem;
   color: #bababa;
}

.sub-welcome {
   margin-top: 13px;
   color: #bababa;
}

.forms-container {
   display: flex;
}

#placeholder {
   position: absolute;
   width: max-content;
   transition: all ease .2s;
   height: max-content;
}

#placeholder[data-focus="unfocused"] {
   color: #D9DCE0;
   z-index: 0;
   top: 1rem;
   left: .7rem;
}

#placeholder[data-focus="focused"] {
   padding: 0 0.3125rem;
   font-size: .7rem;
   top: -.3rem;
   left: .5rem;
   z-index: 2;
   background-color: #373737;
   color: var(--bootube-orange);
}

.bottom-details {
   position: absolute;
   height: 2.9rem;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.outside-alerter {
   position: relative;
   width: 100%;
}

.left-button {
   text-align: center;
   background-color: transparent;
   border: none;
   left: -.5rem;
   position: absolute;
   border-radius: 4px; 
   width: max-content;
   height: 35px;
   font-size: 14px;
   color: var(--bootube-orange);
   padding: 8px 8px;
   line-height: 1rem;
}

.left-button:hover {
   background-color:#5e5d5d;
}

.index-link {
   display: flex;
   gap: .4rem;
}

.index-link #link {
   color: var(--bootube-orange);
}

.index-link #link:hover {
   text-decoration: underline;
   cursor: pointer;
}

.outside-modal {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
}

#hidden-input {
   display: none;
}