.user-masthead-controls {
   display: flex;
   width: 100%;
   justify-content: flex-end;
   align-items: center;
}

/* logged in controls */

.upload-button {
   position: relative;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
}

.upload-button img {
   position: absolute;
   top: 14px;
   left: 9px;
   width: 23px;
   height: 15px;
}

.github-link-button {
   position: relative;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   z-index: 2;
}

.github-link-button > link {
   position: absolute;
   width: 40px;
   height: 40px;
   z-index: 4;
}

.github-link-button img {
   position: absolute;
   top: 8px;
   left: 8px;
   width: 25px;
   height: 25px;
}

.user-dropdown-button {
   position: relative;
   height: 40px;
   width: 40px;
   background-color: aqua;
   cursor: pointer;
}

/* logged out controls */

.sign-in-button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100.1px;
   height: 34px;
   border: 1px solid #515050;
   border-radius: 40px;
   gap: 9px;
}

.sign-in-button-container:hover {
   background-color: #784307;
}

.dot-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   padding: 8px;
   box-sizing: border-box;
   margin-right: 5px;
}

.dot-menu:hover {
   background-color: #515050;
}

.dot-menu > img {
   height: 15px;
   width: 3px;
}

.sign-in-button {
   color: orange;
   font-size: .93rem;
}

.sign-in-button-icon {
   display: flex;
   justify-content: flex-start;
}

.sign-in-button-icon > img {
   width: 22px;
   height: 22px;
}