.comment-index-item {
   position: relative;
   display: flex;
   width: 100%;
   height: max-content;
   height: 4.875rem;
   min-height: 4.875rem;
   border: 1px solid pink;
}

.commenter-icon-container {
   height: 100%;
   width: 4rem;
   border: 1px solid lightblue;
}

.comment-meat {
   display: flex;
   flex-direction: column;
   width: 94.5%;
   height: 100%;
}

.comment-upper {
   display: flex;
   width: 100%;
   height: 1.25rem;
   gap: .5rem;
}

.commenter-handle {
   color: rgb(226, 226, 226);
   font-size: .8rem;
   font-weight: 300;
   line-height: 1.1rem;
}

.comment-date {
   font-size: .7rem;
   font-weight: 100;
   line-height: 1.1rem;
   color: rgb(176, 176, 176);
}

.comment-body {
   width: 100%;
   line-height: 1.5rem;
   min-height: 1.5rem;
   font-size: .9rem;
   color: rgb(189, 189, 189);
}

.comment-utils {
   width: 100%;
   display: flex;
   gap: .8rem;
   align-items: center;
   height: 2rem;
   border: 1px solid purple;
}

.comment-edit-button{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   border-radius: 50%;
   right: -.5rem;
   color: white;
   width: 2.5rem;
   height: 2.5rem;
   border: 1px solid red;
}

.comment-edit-button:hover {
   cursor: pointer;
}

.comment-options {
   position: absolute;
   display: flex;
   flex-direction: column;
   height: 5.5rem;
   width: 8.2rem;
   right: -9rem;
   padding-top: .5rem;
   padding-bottom: .5rem;
   border-radius: .6rem;
   background-color: rgb(60, 60, 60);
}

.comment-options > * {
   display: flex;
   align-items: center;
   height: 2.25rem;
   width: 100%;
   padding-left: 1rem;
   color: rgb(230, 230, 230);
   font-size: .9rem;
   font-weight: 300;
}

.edit-comment-button {
   gap: .9rem;
}

.delete-comment-button {
   gap: 1rem;
}

.comment-options > *:hover {
   background-color: rgb(132, 89, 11);
   color: rgb(32, 32, 32);
}

.comment-utils .button {
   display: flex;
   align-items: center;
   position: relative;
   gap: .4rem;
   height: 80%;
   color: rgb(189, 189, 189);
}

.comment-utils .button > p {
   font-size: .8rem;
   font-weight: 200;
}

