@media only screen and (max-width: 792px) {
   .category-bar {
      left: 0;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}

.category-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   height: 55px;
   right: 17px;
   background-color: #1e1e1e;
   color: rgb(237, 134, 0);
   top: 56px;
   z-index: 2;
   margin-right: 2px;
}

@media only screen and (min-width: 793px) {
   .category-bar {
      left: 72px;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}