@media only screen and (max-width: 792px) {
   .category-bar {
      left: 0;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}

.category-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   height: 55px;
   width: 100%;
   border-bottom: 1px solid #E5E5E5;
   background-color: #FFFFFF;
   top: 56px;
   z-index: 2;
}

@media only screen and (min-width: 793px) {
   .category-bar {
      left: 72px;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}