.video-index-item {
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   height: 17vw;
   max-width: 21rem;
   min-height: 15rem;
   min-width: 240px;
   gap: 1rem;
   width: 20vw;
   margin-bottom: 15px;
   overflow: hidden;
}

.video-index-item:hover {
   cursor: pointer;
}

.thumbnail {
   position: relative;
   width: 100%;
   height: 100vh;
   max-width: 100%;
   max-height: 100%;
   overflow: hidden;
}

.thumbnail-container {
   position: relative;
   width: 100%;
   height: min-content;
   background-color: black;
   border-radius: 12px;
   height: 15rem;
   /* min-width: 240px; */
   /* max-width: 360px; */
   /* max-height: 202px; */
   overflow: hidden;
}

.index-item-bottom {
   display: flex;
   height: 40%;
   width: 100%;
   overflow: hidden;
}

.index-title {
   position: relative;
   overflow: hidden;
   height: 1rem;
   word-break: break-all;
}

.channel-pic-container {
   height: 2.4rem;
   width: 2.4rem;
}

.index-item-left {
   position: relative;
   height: 100%;
   width: 4rem;
}

.index-item-right {
   flex-direction: column;
   width: 100%;
}

.item-title-container {
   position: relative;
   width: 100;
   max-height: 4rem;
   margin-bottom: .8rem;
   color: rgb(237, 134, 0);
   font-size: .95rem;
   overflow: hidden;
}

.index-title::after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   right: -5px;
   left: 80%;
   box-shadow: inset -25px 0px 5px rgba(31, 31, 31, 0.917);
}

.item-channel-name {
   width: max-content;
}

.item-channel-name:hover {
   color: white;
}

.item-info-container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 2.5rem;
   color: rgb(149, 149, 149);
   font-size: calc(.5rem + .26vw);
   font-weight: 250;
}

.item-info {
   width: 100%;
   display: flex;
   gap: .3rem;
   color: rgb(149, 149, 149);
}

.spacer {
   font-weight: 800;
   line-height: .5rem;
}

/* .video-index-item > video {
   position: relative;
   width: 98vw;
   height: 75vw;
   max-width: 300px;
   max-height: 180px;
   border-radius: 12px;
} */