@media only screen and (max-width: 792px) {
   .video-index {
      left: 0;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}

.video-index {
   display: grid;
   position: relative;
   grid-template-columns: repeat(4, 1fr);
   top: 112px;
   background-color: #F9F9F9;
   width: 100%;
   height: 100%;
   z-index: 0;
}

@media only screen and (min-width: 793px) {
   .video-index {
      left: 72px;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease;
   }
}