.video-index-item {
   display: flex;
   flex-direction: column;
   position: relative;
   align-items: center;
   height: 300px;
   border: 1px solid white;
}

.video-index-item:hover {
   cursor: pointer;
}

.index-item-bottom {
   width: 100%;
}

.thumbnail {
   position: relative;
   width: 98vw;
   height: 75vw;
   max-width: 300px;
   max-height: 180px;
}

.index-title {
   color: rgb(237, 134, 0);
}

/* .video-index-item > video {
   position: relative;
   width: 98vw;
   height: 75vw;
   max-width: 300px;
   max-height: 180px;
   border-radius: 12px;
} */