.video-right-index-side {
   display: flex;
   flex-direction: column;
   /* flex-grow: 1; */
   min-width: 402px;
   padding: 24px 24px 0px 0px;
   /* margin: 0; */
   /* max-width: 25%; */
   
   height: 100vh;
   background-color: #373737;
   border: 1px solid black;
}