.video-right-index-side { 
   display: flex;
   width: 29.5%;
   flex-direction: column;
   padding: 24px 24px 0px 0px;   
   height: max-content;
   height: 160%;                 /* temporary height */
   background-color: #373737;
}

@media screen and (min-width: 1770px) {
   .video-right-index-side {
      margin-right: calc(5.2% - 24px);
   }
}